<div class="container">
  <div class="jumbotron">
    <h2>Create a Quote to inspire the next Generation</h2>
    <hr>
    <p>Make sure it's original and intresting</p>
  </div>
  <form id="form" (ngSubmit)='submitQuote()'   #quoteForm='ngForm' class="form-group" action="index.html" method="post">
    <div class="form-group">
      <label for="">Enter your name</label>
      <input ngModel required class="form-control" placeholder="Authors name" type="text" id="name" [(ngModel)]='newQuote.userName' #name='ngModel'  name="name" value="">
      <div [hidden]='name.valid || name.pristine' class="alert alert-danger">
        This field cannot be empty

      </div>

    </div>
    <div class="form-group shadow-textarea">
      <label for="">What is your Qoute</label>
      <textarea ngModel required class="form-control  z-depth-1" name="quote" id=quote [(ngModel)]='newQuote.name' #quote='ngModel' rows="3" cols="20" placeholder="Text here"></textarea>
      <div [hidden]='quote.valid || quote.pristine' class="alert alert-danger">
        This field cannot be empty

      </div>

    </div>
    <button class="btn btn-secondary" type="submit" name="button">Post Quote</button>

  </form>

</div>
