<!--The content below is only a placeholder and can be replaced.-->
<div id="top-quotes" class="top-quotes">
    <h1>Top quotes</h1>
    <div class="row">
      <div *ngFor='let topq of topQuotes' class="col-md-3">
        <div class="card testimonial-card">
          <div class="card-up indigo lighten-1"></div>
          <div class="card-body">
            <h4 class="card-title">{{topq.owner}}</h4>
            <hr>
            <p><i class="fas fa-quote-left"></i>{{topq.quote}}</p>
          </div>
        </div>
      </div>

    </div>

</div>
<br>

    <app-quotes></app-quotes>
    <router-outlet></router-outlet>
