.jumbotron{
}
.header{
  background: #8743;
}
#top-quotes{
  border: 0;
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
  text-transform: capitalize;
}
.card{
  background-color: #8742;
}
.card:hover{
  background-color: #8740;
  cursor: pointer;
  box-shadow: 3px 3px 30px black;
  zoom:102%;
  transition: 500ms;
}
.card-title:hover{


}
