<div class="row">


<div class="col-md-6">

  <app-form (addNewQuote)='addQuote($event)'></app-form>
</div>

<div class="col-md-6">
<div class="card">
  <br>
  <p>Top Quote <i class="fas fa-heart"></i> {{hold}}</p>

</div>

<div *ngFor='let quote of quotes;let i=index'  class="">
  <hr class="bg-info">
  <h3>Posted by {{quote.userName }} on {{quote.date|date:"short"}}</h3>
  <div class="card">
    <ul class="list-group">
      <li   appHighest='show'  class="list-group-item" ><i class="fas fa-quote-left"></i> {{quote.name}} <i class="fas fa-quote-right" ></i></li>

      <div id="details" class="container">
        <p id="quote">  By -- {{quote.userName}} </p>
        <button (click)='upVote(quote)' title="Upvote" class="btn btn-success waves-effect" type="button" name="button"><i class="fas fa-thumbs-up "></i> {{quote.upvote}}</button>
        <button (click)='downVote(quote)' title="Downvote" class="btn btn-danger waves-effect" type="button" name="button"><i class="fas fa-thumbs-down "></i> {{quote.downvote}}</button>

      <!-- <button title="Delete this Quote" class="btn btn-outline-danger" type="button" name="button">Delete Quote</button> -->
      <br>
      <app-buttons [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-buttons>
      </div>

    </ul>


  </div>



</div>
</div>
</div>
