
<div *ngFor='let quote of quotes;let i=index'  class="">
  <h3>Posted by Collins kipkemoi on 31/05/2018</h3>
  <div class="card">
    <ul class="list-group">
      <li  class="list-group-item" ><i class="fas fa-quote-left"></i> {{quote.name}} <i class="fas fa-quote-right" ></i></li>
      <br>
      <div class="container">
        <p id="quote">  By -- {{quote.userName}}</p>
        <button (click)='upVote(i)' title="Upvote" class="btn btn-success waves-effect" type="button" name="button"><i class="fas fa-thumbs-up "></i> {{votes}}</button>
        <button (click)='downVote()' title="Downvote" class="btn btn-danger waves-effect" type="button" name="button"><i class="fas fa-thumbs-down "></i> {{dvotes}}</button>
      </div>
      <button title="Delete this Quote" class="btn btn-outline-danger" type="button" name="button">Delete Quote</button>



    </ul>


  </div>

</div>
